.WC_bar {
  display: none;
}
.line1 img {
  width: 120PX;
}
.line1 .headerLeft {
  float: right;
  width: 60%;
}
.line1 .headerLeft .fas {
  background: #d2d2d2;
  width: 33%;
  height: 70px;
  padding: 26px 0 0 0;
  text-align: center;
  margin: -2px;
}
#nav {
  background: white;
  display: none;
  text-align: center;
  width: 100%;
  margin: 15px auto;
}
#nav .link {
  margin: 15px auto;
}
.PageInfoBar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 60px;
  font-size: 1rem;
  margin: 20px auto;
}
.GrayBar {
  width: 20%;
  background: #acacac;
}
.GrayIcon {
  height: 68px;
}
.OneWord {
  padding: 18px 5px;
  font-size: 1.1rem;
}
.BlueBar {
  background: #005493;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 59%;
}
.blue_title {
  padding: 16px 9px;
  color: white;
  font-size: 1.1rem;
  width: 80%;
}
.SecondLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.6rem;
}
.SecondLogo div {
  padding: 10px 4px;
  color: white;
}
@media (min-width: 1025px) {
  .headerLeft .fas {
    display: none;
  }
  #nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: auto;
    float: right;
    border: none;
  }
  .line1 {
    width: 63%;
    margin: auto;
  }
  a {
    padding: 0 10px;
    color: #337ab7;
    text-decoration: none;
    width: 100px;
  }
  .WC_bar {
    width: 100%;
    padding: 50px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background: #d8d8d8;
    padding: 0 0 0 60%;
  }
  .WC_bar div {
    background: #b7b7b7;
    padding: 2px 16px;
    color: white;
  }
  .WC_bar button {
    border: none;
    background: #9a9a9a;
    color: white;
  }
  .WC_bar i {
    padding: 5px 5px;
  }
}
@media (max-width: 555px) {
  .blue_title {
    padding: 6px 9px;
    font-size: 0.9rem;
  }
  .OneWord {
    font-size: 0.9rem;
  }
}
